[submodule "external/http-parser"]
	path = external/http-parser
	url = git@github.com:nodejs/http-parser.git
[submodule "external/gtest"]
	path = external/gtest
	url = git@github.com:google/googletest.git
